.segundapartedelheader{
    height: 400px ;
    background-image:url(URK.jpg);
    color: rgb(255, 255, 255) ;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    font-family: 'Calligraffitti', cursive;
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
html, body{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Noto Sans', sans-serif;
    /*font-family: 'Open Sans Condensed', sans-serif;*/
}
h4, a {
    font-family: 'Fjalla One', sans-serif;
}
body{
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.6;
    
}

.title{
    text-align: center;
    font-size: 40px;
    color: #6a6a6a;
    margin-top: 100px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}


.container{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.container .card{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .card img{
    width: 330px;
    height: 220px;
}


.container .card h4{
    font-weight: 600;
}

.container .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.container .card a {
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
}
.button{
    width: 50px ;
}
.row{
    width: 100%;
    max-width: 1100px;
    height: 400px;
}

